<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Jucarik</title>
</head>
<html>
    <body>
        
        <main>
            <%- body %>
        </main>

        <footer >
        </footer>
    </body>
</html>